.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--primary-blue);
  padding: 1.6rem 13.5rem;
}

@media screen and (max-width: 1200px) {
    /* Your CSS code for screens with a resolution less than 1080 pixels */
    .navbar {
        padding: 1.6rem 5rem;
      }
  }
@media screen and (max-width: 1080px) {
    /* Your CSS code for screens with a resolution less than 1080 pixels */
    .navbar {
        padding: 1.6rem 4rem;
      }
  }
@media screen and (max-width: 768px) {
    /* Your CSS code for screens with a resolution less than 1080 pixels */
    .navbar {
        padding: 1.6rem 2.4rem;
      }
  }

.navbar__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.4rem;
}

/* Logo Image */
.navbar__logo img {
  width: 4.8rem;
  height: 4.8rem;
}


/* Decrease logo on smaller devices */
@media screen and (max-width: 800px) {
    /* Your CSS code for screens with a resolution less than 1080 pixels */
    .navbar__logo img {
        width: 3.8rem;
        height: 3.8rem;
      }
  }

@media screen and (max-width: 600px) {
    /* Your CSS code for screens with a resolution less than 1080 pixels */
    .navbar__logo img {
        width: 3rem;
        height: 3rem;
      }
  }

/* Navigation Links */
.computer__links_menu {
  font-size: 16px;
  line-height: 32px;
  list-style: none;
  /* identical to box height, or 200% */
  text-align: center;

  display: flex;
  gap: 8rem;
}
.mobile__links_menu {
  font-size: 16px;
  line-height: 32px;
  list-style: none;
  /* identical to box height, or 200% */
  text-align: center;
  margin-top: 8rem;
  display: flex;
  gap: 2.4rem;
  flex-direction: column;
}

@media screen and (max-width: 1080px) {
    /* Your CSS code for screens with a resolution less than 1080 pixels */
    .computer__links_menu {
        gap: 5rem;
      }
  }

@media screen and (max-width: 800px) {
    /* Your CSS code for screens with a resolution less than 1080 pixels */
    .computer__links_menu {
        display: none;
      }
  }

.navbar__link a{
  text-decoration: none;
  color: var(--color-light);
  cursor: pointer;
}
.navbar__link a:hover{
  color: var(--color-light-red);
  text-decoration: underline;
  transition: all .2s ease-in-out;
}


/* Navbar Button */
/* ------------- */
.navbar__btn{
    font-weight: 900;
    font-size: 1.4rem;
    line-height: 14px;
    text-align: center;
    text-transform: uppercase;
    color: var(--color-light);
    padding: 1.6rem 3.2rem;
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, 0.29);
    border-radius: 6px;
    cursor: pointer;
}
.navbar__btn:hover{
  color: var(--color-light);
  background-color: var(--color-light-red);
  transition: all .2s ease-out;
}

@media screen and (max-width: 800px) {
    /* Your CSS code for screens with a resolution less than 1080 pixels */
    .navbar__btn {
        display: none;
      }
  }


.mobile_nav{
  background-color: var(--primary-blue);
  width: 60vw;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  animation:slide-left .5s cubic-bezier(.25,.46,.45,.94) both

}

@keyframes slide-left{
  0%{
    transform:translateX(80px)
  }
 
  100%{
    transform:translateX(0px)
  }
}


@media screen and (max-width: 800px) {
  /* Your CSS code for screens with a resolution less than 1080 pixels */
  .mobile_nav{
    width: 80vw;
  }
}

.mobile_nav_close {
  cursor: pointer;
  color: var(--color-light);
  font-size: 1.4rem;
  text-decoration: underline;
  text-align: right;
  margin-top: 2.4rem;
  margin-right: 2.4rem;
}
